<!-- Looping variable -->
<% let i = 0 %>

<%- include("partials/_header.ejs") %>

<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <!-- Loop through houses -->
      <% data.forEach((house) => { %>
      <!-- If it should be left -->
      <% if (i % 3 === 0 ) { %>
      <!-- Increment loop variable -->
      <% i++ %>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <% if (house.available) { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
            </a>
            <% } else { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
              <div class="banner-style-catalog">
                <h1 class="text-center text-white badge badge-danger badge-style-catalog">
                  <strong>Já Foi!</strong>
                </h1>
              </div>
            </a>
            <% } %>
            <div class="card-body">
              <p class="card-text"><%= house.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/house/<%= house.id %>" class="btn btn-sm btn-outline-secondary">Ver mais</a>
                </div>
                <% if (house.available) { %>
                <small class="text-secondary"><%= house.tip %></small>
                <% } else { %>
                <small class=" text-danger">Arrendado</small>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <!-- If it should be mid -->
        <% } else if (i % 3 === 1 ) { %>
        <!-- Increment loop variable -->
        <% i++ %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <% if (house.available) { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
            </a>
            <% } else { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
              <div class="banner-style-catalog">
                <h1 class="text-center text-white badge badge-danger badge-style-catalog">
                  <strong>Já Foi!</strong>
                </h1>
              </div>
            </a>
            <% } %>
            <div class="card-body">
              <p class="card-text"><%= house.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/house/<%= house.id %>" class="btn btn-sm btn-outline-secondary">Ver mais</a>
                </div>
                <% if (house.available) { %>
                <small class="text-secondary"><%= house.tip %></small>
                <% } else { %>
                <small class=text-danger">Arrendado</small>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <!-- If it should be right -->
        <% } else if (i % 3 === 2 ) { %>
        <!-- Increment loop variable -->
        <% i++ %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <% if (house.available) { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
            </a>
            <% } else { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
              <div class="banner-style-catalog">
                <h1 class="text-center text-white badge badge-danger badge-style-catalog">
                  <strong>Já Foi!</strong>
                </h1>
              </div>
            </a>
            <% } %>
            <div class="card-body">
              <p class="card-text"><%= house.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/house/<%= house.id %>" class="btn btn-sm btn-outline-secondary">Ver mais</a>
                </div>
                <% if (house.available) { %>
                <small class="text-secondary"><%= house.tip %></small>
                <% } else { %>
                <small class=" text-danger">Arrendado</small>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <% }) %>
    </div>
  </div>
</main>

<%- include("partials/_footer.ejs") %>
