<%- include("../partials/_header.ejs") %>

<main>
  <div class="container">
    <!-- Looping variable -->
    <% let i = 0 %>
    <div class="album py-5 bg-light">
      <!-- Loop through houses -->
      <% data.forEach((house) => { %>
      <!-- If it should be left -->
      <% if (i % 3 === 0 ) { %>
      <!-- Increment loop variable -->
      <% i++ %>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow">
            <% if (house.available) { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
              <% if (Date.now() - house.date < 1000 * 60 * 60 * 24 * 2) { %>
              <div class="banner-style-catalog-new">
                <h1
                  class="text-center text-white badge badge-info badge-style-catalog-new"
                >
                  <strong>Novo</strong>
                </h1>
              </div>
              <% } %>
            </a>
            <% } else { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
              <div class="banner-style-catalog">
                <h1
                  class="text-center text-white badge badge-danger badge-style-catalog"
                >
                  <strong>Já Foi!</strong>
                </h1>
              </div>
            </a>
            <% } %>
            <div class="card-body">
              <p class="card-text">
                <%= house.title %>
                <img
                  class="img-fluid float-right"
                  width="40px"
                  src="../../images/logo/50passos.png"
                />
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a
                    href="/house/<%= house.id %>"
                    class="btn btn-sm btn-outline-secondary"
                    >Ver mais</a
                  >
                </div>
                <% if (house.available) { %> <% if (Date.now() - house.date <
                1000 * 60 * 60 * 24 * 2) { %>
                <small class="text-info">Recente</small>
                <%} else { %>
                <small class="text-secondary"><%= house.tip %></small>
                <% } %> <% } else { %>
                <small class="text-danger">Arrendado</small>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <!-- If it should be mid -->
        <% } else if (i % 3 === 1 ) { %>
        <!-- Increment loop variable -->
        <% i++ %>
        <div class="col-md-4">
          <div class="card mb-4 shadow">
            <% if (house.available) { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
              <% if (Date.now() - house.date < 1000 * 60 * 60 * 24 * 2) { %>
              <div class="banner-style-catalog-new">
                <h1
                  class="text-center text-white badge badge-info badge-style-catalog-new"
                >
                  <strong>Novo</strong>
                </h1>
              </div>
              <% } %>
            </a>
            <% } else { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
              <div class="banner-style-catalog">
                <h1
                  class="text-center text-white badge badge-danger badge-style-catalog"
                >
                  <strong>Já Foi!</strong>
                </h1>
              </div>
            </a>
            <% } %>
            <div class="card-body">
              <p class="card-text">
                <%= house.title %>
                <img
                  class="img-fluid float-right"
                  width="40px"
                  src="../../images/logo/50passos.png"
                />
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a
                    href="/house/<%= house.id %>"
                    class="btn btn-sm btn-outline-secondary"
                    >Ver mais</a
                  >
                </div>
                <% if (house.available) { %> <% if (Date.now() - house.date <
                1000 * 60 * 60 * 24 * 2) { %>
                <small class="text-info">Recente</small>
                <%} else { %>
                <small class="text-secondary"><%= house.tip %></small>
                <% } %> <% } else { %>
                <small class="text-danger">Arrendado</small>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <!-- If it should be right -->
        <% } else if (i % 3 === 2 ) { %>
        <!-- Increment loop variable -->
        <% i++ %>
        <div class="col-md-4">
          <div class="card mb-4 shadow">
            <% if (house.available) { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
              <% if (Date.now() - house.date < 1000 * 60 * 60 * 24 * 2) { %>
              <div class="banner-style-catalog-new">
                <h1
                  class="text-center text-white badge badge-info badge-style-catalog-new"
                >
                  <strong>Novo</strong>
                </h1>
              </div>
              <% } %>
            </a>
            <% } else { %>
            <a href="/house/<%= house.id %>">
              <img src="<%= house.photo1 %>" width="100%" height="225" />
              <div class="banner-style-catalog">
                <h1
                  class="text-center text-white badge badge-danger badge-style-catalog"
                >
                  <strong>Já Foi!</strong>
                </h1>
              </div>
            </a>
            <% } %>
            <div class="card-body">
              <p class="card-text">
                <%= house.title %>
                <img
                  class="img-fluid float-right"
                  width="40px"
                  src="../../images/logo/50passos.png"
                />
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a
                    href="/house/<%= house.id %>"
                    class="btn btn-sm btn-outline-secondary"
                    >Ver mais</a
                  >
                </div>
                <% if (house.available) { %> <% if (Date.now() - house.date <
                1000 * 60 * 60 * 24 * 2) { %>
                <small class="text-info">Recente</small>
                <%} else { %>
                <small class="text-secondary"><%= house.tip %></small>
                <% } %> <% } else { %>
                <small class="text-danger">Arrendado</small>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %> <% }) %>
    </div>
  </div>
  <div class="container">
    <% if (pages > 0) { %>
    <ul class="pagination justify-content-center text-center">
      <% if (current == 0) { %>
      <li class="page-item disabled"><a class="page-link">Inicio</a></li>
      <% } else { %>
      <li class="page-item">
        <a class="page-link" href="<%= url %>/0">Inicio</a>
      </li>
      <% } %> <% let j = (Number(current) > 5 ? Number(current) - 4 : 1) %> <%
      if (j !== 1) { %>
      <li class="page-item disabled"><a class="page-link">...</a></li>
      <% } %> <% for (; j <= (Number(current) + 4) && j <= pages; j++) { %> <%
      if (j - 1 == current) { %>
      <li class="page-item active">
        <a class="page-link text-white"><%= j %></a>
      </li>
      <% } else { %>
      <li class="page-item">
        <a class="page-link" href="<%= url %>/<%= j - 1 %>"><%= j %></a>
      </li>
      <% } %> <% if (j == Number(current) + 4 && j < pages) { %>
      <li class="page-item disabled"><a class="page-link">...</a></li>
      <% } %> <% } %> <% if (current == pages - 1) { %>
      <li class="page-item disabled"><a class="page-link">Fim</a></li>
      <% } else { %>
      <li class="page-item">
        <a class="page-link" href="<%= url %>/<%= pages - 1 %>">Fim</a>
      </li>
      <% } %>
    </ul>
    <% } %>
  </div>
</main>

<%- include("../partials/_footer.ejs") %>
